@import '@fontsource-variable/recursive/crsv.css';
@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@layer base {

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2 84% 4.9%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2 84% 4.9%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2 84% 4.9%);
    --primary: #7289da;
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(210 40% 96.1%);
    --secondary-foreground: hsl(222.2 47.4% 11.2%);
    --muted: hsl(228 24% 96%);
    --muted-foreground: hsl(215.4 16.3% 46.9%);
    --accent: #7289da;
    --accent-foreground: hsl(0 0% 100%);
    --destructive: hsl(0 72.22% 50.59%);
    --destructive-foreground: hsl(210 40% 98%);
    --border: hsl(214.3 31.8% 91.4%);
    --border-dark: hsl(214.3 31.8% 81.4%);
    --input: hsl(214.3 31.8% 91.4%);
    --ring: hsl(222.2 84% 4.9%);
    --radius: 0.75rem;
  }

  .dark {
    --background: #282b30;
    --foreground: #dcddde;
    --card: #282b30;
    --card-foreground: #dcddde;
    --popover: #2f3136;
    --popover-foreground: #dcddde;
    --primary: #7289da;
    --primary-foreground: #ffffff;
    --secondary: #2f3136;
    --secondary-foreground: #dcddde;
    --muted: #2f3136;
    --muted-foreground: #72767d;
    --accent: #7289da;
    --accent-foreground: #ffffff;
    --destructive: #7289da;
    --destructive-foreground: #ffffff;
    --border: #202225;
    --border-dark: #202225;
    --input: #202225;
    --ring: #7289da;
  }
}

@theme inline {
  /* Radius (for rounded-*) */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Colors */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-border-dark: var(--border-dark);
  --color-input: var(--input);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-ring: var(--ring);
  --color-radius: var(--radius);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply h-screen w-screen overflow-hidden bg-background text-foreground;
  }
}

body {
  font-family: 'Recursive Variable', sans-serif;
}

.d {
  @apply border border-red-500;
}